# Ignore everything
*

# But not these files and directories
!.gitignore
!README.md
!src/
!src/**
!*.iml
!.idea/
!.idea/**
!out/
!out/**

# Log files
*.log

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# IDE specific files - keep these
# .idea/ - we want to keep this
*.iws
*.ipr

# Output directories - keep these
# out/ - we want to keep this
target/

# Windows
Thumbs.db
Desktop.ini
desktop.ini

# Temporary files
*.tmp
*.temp